<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="../static/modules/lightpick/css/lightpick.css">
</head>
<body>
    <div class="anonymous" id="admin">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu item-bg">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Замовлення</h1>
                    <div class="main-content-menu-dishes">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="workers-list">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu item-bg">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>

                    <div class="main-content-workers-list">
                        <nav class="navigation-workers-list">
                            <a href="#workers-list"><div class="bg-for-nav">Список</div></a>
                            <a href="#workers-schedule"><div class="schedule-class">Розклад</div></a>
                        </nav>
                        <div class="bg-for-content">
                            <h1 class="header-page header-workers">Список</h1>
                            <div class="grid-add-center">
                                <div class="grid-add-new-workers">
                                    <input id="add-stuff" type="text" placeholder="Прізвище Ім'я" class="add-new-workers">
                                    <input id="number" type="tel" placeholder="Телефон" class="add-new-workers-number">
                                    <button class="btn-add" disabled><img src="../static/img/add.png" alt="add" class="add-img"></button>
                                    <div class="list-of-workers"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="workers-schedule">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu item-bg">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>

                    <div class="main-content-workers-list">
                        <nav class="navigation-workers-list">
                            <a href="#workers-list"><div>Список</div></a>
                            <a href="#workers-schedule"><div class="schedule-class bg-for-nav">Розклад</div></a>
                        </nav>
                        <div class="bg-for-content">
                            <div class="grid-header-schedule header-workers">
                                <h1 class="header-page-schedule">Розклад</h1>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input type="text" id="datepicker" class="form-control form-control-sm" placeholder="Date">
                                            </div>
                                            <div class="col-md-7" id="gist-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-for-schedule">
                                <button class="btn-add-new text-workers"><img src="../static/img/add.png" alt="add" class="add-new"></button>
                                <div class="text-workers">
                                    <div>Прізвище Ім'я</div>
                                </div>
                                <div class="text-workers">Пн</div>
                                <div class="text-workers">Вт</div>
                                <div class="text-workers">Ср</div>
                                <div class="text-workers">Чт</div>
                                <div class="text-workers">Пт</div>
                                <div class="text-workers">Сб</div>
                                <div class="text-workers">Нд</div>
                            </div>
                            <div class="list-text-workers"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="reservation-administrator">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu  item-bg">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Резервація столика</h1>
                    <div class="main-content-reservation">
                        <div id="parent"></div>
                    </div>
                    <div class="grid-for-btn">
                        <button class="drag-and-drop">Редагувати</button>
                        <button class="none-drag-and-drop">Зберегти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="menu-administrator">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Піца</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Салати</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-margin item-bg">Піца</div></a>
                                        <a href="#salads"><div class="item-nav-admin-even">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-nav-admin-even">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-nav-admin-even">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-nav-admin-even">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-nav-admin-even">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-nav-admin-even">Млинці</div></a>
                                        <a href="#desserts"><div class="item-nav-admin-even">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-nav-admin-even">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-nav-admin-even">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="salads">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Піца</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Салати</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-nav-admin-even">Піца</div></a>
                                        <a href="#salads"><div class="item-margin item-bg">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-nav-admin-even">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-nav-admin-even">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-nav-admin-even">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-nav-admin-even">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-nav-admin-even">Млинці</div></a>
                                        <a href="#desserts"><div class="item-nav-admin-even">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-nav-admin-even">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-nav-admin-even">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="cold-dish">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Холодні закуски</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Гарячі закуски</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-nav-admin-even">Піца</div></a>
                                        <a href="#salads"><div class="item-nav-admin-even ">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-margin item-bg">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-nav-admin-even">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-nav-admin-even">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-nav-admin-even">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-nav-admin-even">Млинці</div></a>
                                        <a href="#desserts"><div class="item-nav-admin-even">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-nav-admin-even">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-nav-admin-even">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="hot-dish">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Холодні закуски</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Гарячі закуски</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-nav-admin-even">Піца</div></a>
                                        <a href="#salads"><div class="item-nav-admin-even ">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-nav-admin-even">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-margin item-bg">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-nav-admin-even">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-nav-admin-even">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-nav-admin-even">Млинці</div></a>
                                        <a href="#desserts"><div class="item-nav-admin-even">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-nav-admin-even">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-nav-admin-even">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="soup">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Супи</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Гарячі страви</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-nav-admin-even">Піца</div></a>
                                        <a href="#salads"><div class="item-nav-admin-even ">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-nav-admin-even">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-nav-admin-even">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-margin item-bg">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-nav-admin-even">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-nav-admin-even">Млинці</div></a>
                                        <a href="#desserts"><div class="item-nav-admin-even">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-nav-admin-even">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-nav-admin-even">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="hot-dish-other">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Супи</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Гарячі страви</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-nav-admin-even">Піца</div></a>
                                        <a href="#salads"><div class="item-nav-admin-even ">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-nav-admin-even">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-nav-admin-even">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-nav-admin-even">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-margin item-bg">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-nav-admin-even">Млинці</div></a>
                                        <a href="#desserts"><div class="item-nav-admin-even">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-nav-admin-even">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-nav-admin-even">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="pancakes">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Млинці</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Десерти</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-nav-admin-even">Піца</div></a>
                                        <a href="#salads"><div class="item-nav-admin-even ">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-nav-admin-even">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-nav-admin-even">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-nav-admin-even">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-nav-admin-even">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-margin item-bg">Млинці</div></a>
                                        <a href="#desserts"><div class="item-nav-admin-even">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-nav-admin-even">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-nav-admin-even">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="anonymous" id="desserts">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Млинці</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Десерти</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-nav-admin-even">Піца</div></a>
                                        <a href="#salads"><div class="item-nav-admin-even ">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-nav-admin-even">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-nav-admin-even">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-nav-admin-even">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-nav-admin-even">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-nav-admin-even">Млинці</div></a>
                                        <a href="#desserts"><div class="item-margin item-bg">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-nav-admin-even">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-nav-admin-even">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="non-alcoholic">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Безалкогольні напої</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Алкогольні напої</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-nav-admin-even">Піца</div></a>
                                        <a href="#salads"><div class="item-nav-admin-even ">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-nav-admin-even">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-nav-admin-even">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-nav-admin-even">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-nav-admin-even">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-nav-admin-even">Млинці</div></a>
                                        <a href="#desserts"><div class="item-nav-admin-even">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-margin item-bg">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-nav-admin-even">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="alcoholic">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu item-bg">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator-odd">Безалкогольні напої</h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator-even">Алкогольні напої</h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a href="#menu-administrator"><div class="item-nav-admin-even">Піца</div></a>
                                        <a href="#salads"><div class="item-nav-admin-even ">Салати</div></a>
                                        <a href="#cold-dish"><div class="item-nav-admin-even">Холодні закуски</div></a>
                                        <a href="#hot-dish"><div class="item-nav-admin-even">Гарячі закуски</div></a>
                                        <a href="#soup"><div class="item-nav-admin-even">Супи</div></a>
                                        <a href="#hot-dish-other"><div class="item-nav-admin-even">Гарячі страви</div></a>
                                        <a href="#pancakes"><div class="item-nav-admin-even">Млинці</div></a>
                                        <a href="#desserts"><div class="item-nav-admin-even">Десерти</div></a>
                                        <a href="#non-alcoholic"><div class="item-nav-admin-even">Безалкогольні напої</div></a>
                                        <a href="#alcoholic"><div class="item-margin item-bg">Алкогольні напої</div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="statistics">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu">Меню</div></a>
                        <a href="#statistics"><div class="item-menu item-bg">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Статистика</h1>
                    <div class="main-content-statistics">
                        <div id="container"></div>
                        <button id="plain">Горизонтальна</button>
                        <button id="inverted">Вертикальна</button>
                        <button id="polar">Кругова</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="../static/modules/lightpick/lightpick.js"></script>
    <script src="../static/js/admin.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="../static/js/highcharts.js"></script>
</body>
</html>