<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/modules/lightpick/css/lightpick.css}">
</head>
<body>
    <div class="anonymous" id="admin">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img th:src="@{/img/logo.png}" alt="logo"></div>
                        <div class="header-log">
                            <div><a th:href="@{/}">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a th:href="@{#admin}"><div class="item-menu item-bg">Замовлення</div></a>
                        <a th:href="@{#workers-list}"><div class="item-menu">Працівники</div></a>
                        <a th:href="@{#reservation-administrator}"><div class="item-menu">Резервація</div></a>
                        <a th:href="@{#menu-administrator}"><div class="item-menu">Меню</div></a>
                        <a th:href="@{#statistics}"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Замовлення</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-for-order order">
                            <div class="order-admin-odd">
                                <div class="btn-order">
                                    <button class="triangle style-triangle-left"></button>
                                </div>
                                <div class="grid-order-text">
                                    <div class="grid-order-text-header">
                                        <h2 class="header-page">Столик 1</h2>
                                    </div>
                                    <div class="grid-sum">
                                        <p>Сума</p>
                                        <div id="sum-table-first"></div>
                                        <button class="btn-end-page">Розрахувати</button>
                                    </div>
                                </div>
                            </div>
                            <div class="order-admin-even">
                                <div class="grid-order-text">
                                    <div class="grid-order-text-header">
                                        <h2 class="header-page">Столик 2</h2>
                                    </div>
                                    <div class="grid-sum">
                                        <p>Сума</p>
                                        <div id="sum-table-second"></div>
                                        <button class="btn-end-page">Розрахувати</button>
                                    </div>
                                </div>
                                <div class="btn-order">
                                    <button class="triangle style-triangle-right"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="workers-list">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img th:src="@{/img/logo.png}" alt="logo"></div>
                        <div class="header-log">
                            <div><a th:href="@{/}">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a th:href="@{#admin}"><div class="item-menu item-bg">Замовлення</div></a>
                        <a th:href="@{#workers-list}"><div class="item-menu">Працівники</div></a>
                        <a th:href="@{#reservation-administrator}"><div class="item-menu">Резервація</div></a>
                        <a th:href="@{#menu-administrator}"><div class="item-menu">Меню</div></a>
                        <a th:href="@{#statistics}"><div class="item-menu">Статистика</div></a>
                    </nav>

                    <div class="main-content-workers-list">
                        <nav class="navigation-workers-list">
                            <a th:href="@{#workers-list}"><div class="bg-for-nav">Список</div></a>
                            <a th:href="@{#workers-schedule}"><div class="schedule-class">Розклад</div></a>
                        </nav>
                        <div class="bg-for-content">
                            <h1 class="header-page header-workers">Список</h1>
                            <div class="grid-add-center">
                                <div class="grid-add-new-workers">
                                    <input id="fullName" name="fullName" type="text" placeholder="Прізвище Ім'я" class="add-new-workers"/>
                                    <input id="number" name="phone" type="tel" placeholder="Телефон" class="add-new-workers-number"/>
                                    <button class="btn-add" type="submit" disabled id="addEmployee"><img th:src="@{/img/add.png}" alt="add" class="add-img"></button>
                                    <div class="list-of-workers" id="employeeList"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="workers-schedule">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img th:src="@{/img/logo.png}" alt="logo"></div>
                        <div class="header-log">
                            <div><a th:href="@{/}">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a th:href="@{#admin}"><div class="item-menu item-bg">Замовлення</div></a>
                        <a th:href="@{#workers-list}"><div class="item-menu">Працівники</div></a>
                        <a th:href="@{#reservation-administrator}"><div class="item-menu">Резервація</div></a>
                        <a th:href="@{#menu-administrator}"><div class="item-menu">Меню</div></a>
                        <a th:href="@{#statistics}"><div class="item-menu">Статистика</div></a>
                    </nav>

                    <div class="main-content-workers-list">
                        <nav class="navigation-workers-list">
                            <a th:href="@{#workers-list}"><div class="bg-for-nav">Список</div></a>
                            <a th:href="@{#workers-schedule}"><div class="schedule-class">Розклад</div></a>
                        </nav>
                        <div class="bg-for-content">
                            <div class="grid-header-schedule header-workers">
                                <h1 class="header-page-schedule">Розклад</h1>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <form class="col-md-5">
                                                <input type="text" id="datepicker" class="form-control form-control-sm" placeholder="Date">
                                            </form>
                                            <div class="col-md-7" id="gist-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-for-schedule">
                                <button class="btn-add-new text-workers"><img th:src="@{/img/add.png}" alt="add" class="add-new"></button>
                                <div class="text-workers">
                                    <div>Прізвище Ім'я</div>
                                </div>
                                <div class="text-workers">Пн</div>
                                <div class="text-workers">Вт</div>
                                <div class="text-workers">Ср</div>
                                <div class="text-workers">Чт</div>
                                <div class="text-workers">Пт</div>
                                <div class="text-workers">Сб</div>
                                <div class="text-workers">Нд</div>
                            </div>
                            <div class="list-text-workers"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="reservation-administrator">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img th:src="@{/img/logo.png}" alt="logo"></div>
                        <div class="header-log">
                            <div><a th:href="@{/}">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a th:href="@{#admin}"><div class="item-menu item-bg">Замовлення</div></a>
                        <a th:href="@{#workers-list}"><div class="item-menu">Працівники</div></a>
                        <a th:href="@{#reservation-administrator}"><div class="item-menu">Резервація</div></a>
                        <a th:href="@{#menu-administrator}"><div class="item-menu">Меню</div></a>
                        <a th:href="@{#statistics}"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Резервація столика</h1>
                    <div class="main-content-reservation">
                        <div id="parent"></div>
                    </div>
                    <form class="grid-for-btn">
                        <button class="drag-and-drop">Редагувати</button>
                        <button class="none-drag-and-drop">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="menu-administrator">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img th:src="@{/img/logo.png}" alt="logo"></div>
                        <div class="header-log">
                            <div><a th:href="@{/}">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a th:href="@{#admin}"><div class="item-menu item-bg">Замовлення</div></a>
                        <a th:href="@{#workers-list}"><div class="item-menu">Працівники</div></a>
                        <a th:href="@{#reservation-administrator}"><div class="item-menu">Резервація</div></a>
                        <a th:href="@{#menu-administrator}"><div class="item-menu">Меню</div></a>
                        <a th:href="@{#statistics}"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Меню</h1>
                    <div class="main-content-menu-dishes">
                        <div class="grid-all-content-administrator">
                            <div class="menu-center-odd">
                                <h2 class="menu-header-administrator menu-header-administrator-odd">
                                    <form class="menu-header-administrator-form style-form-odd" th:action="@{/admin/addTypeOfDish}" method="post">
                                        <div></div>
                                        <input type="text" name="typeOfDish" id="pizza" placeholder="Тип страви" class="input-title">
                                        <button class="btn-title-dish" type="submit" disabled><img th:src="@{/img/add.png}" class="img-title-dish"></button>
                                    </form>
                                </h2>
                                <div class="grid-menu-and-dishes-odd">
                                    <div class="grid-for-item-menu">
                                        <div class="grid-menu-administrator">
                                            <div class="name-of-dish">Назва</div>
                                            <div class="name-of-dish">Склад</div>
                                            <div class="name-of-dish">Вага, г</div>
                                            <div class="name-of-dish">Ціна, грн</div>
                                            <div></div>
                                        </div>
                                        <div class="list-of-dish"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-center-even">
                                <h2 class="menu-header-administrator menu-header-administrator-even">
                                    <form class="menu-header-administrator-form style-form-even">
                                        <div></div>
                                        <input type="text" id="salad" placeholder="Тип страви" class="input-title">
                                        <button class="btn-title-dish" disabled><img th:src="@{/img/add.png}" class="img-title-dish"></button>
                                    </form>
                                </h2>
                                <div class="grid-menu-and-dishes-even">
                                    <div>
                                        <div class="grid-for-item-menu">
                                            <div class="grid-menu-administrator">
                                                <div class="name-of-dish">Назва</div>
                                                <div class="name-of-dish">Склад</div>
                                                <div class="name-of-dish">Вага, г</div>
                                                <div class="name-of-dish">Ціна, грн</div>
                                                <div></div>
                                            </div>
                                            <div class="list-of-dish"></div>
                                        </div>
                                    </div>
                                    <nav class="navigation-administrator-menu">
                                        <a th:href="@{#menu-administrator}"><div class="pizza item-margin item-bg"></div></a>
                                        <a th:href="@{#cold-dish}"><div class="dish-hot-cold item-nav-admin-even"></div></a>
                                        <a th:href="@{#soup}"><div class="soup-hot item-nav-admin-even"></div></a>
                                        <a th:href="@{#pancakes}"><div class="pancakes-desserts item-nav-admin-even"></div></a>
                                        <a th:href="@{#non-alcoholic}"><div class="alco-and-non item-nav-admin-even"></div></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="statistics">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img th:src="@{/img/logo.png}" alt="logo"></div>
                        <div class="header-log">
                            <div><a th:href="@{/}">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a th:href="@{#admin}"><div class="item-menu item-bg">Замовлення</div></a>
                        <a th:href="@{#workers-list}"><div class="item-menu">Працівники</div></a>
                        <a th:href="@{#reservation-administrator}"><div class="item-menu">Резервація</div></a>
                        <a th:href="@{#menu-administrator}"><div class="item-menu">Меню</div></a>
                        <a th:href="@{#statistics}"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Статистика</h1>
                    <div class="main-content-statistics">
                        <div id="container"></div>
                        <button id="plain">Горизонтальна</button>
                        <button id="inverted">Вертикальна</button>
                        <button id="polar">Кругова</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/modules/moment/moment.min.js}"></script>
    <script th:src="@{/modules/lightpick/lightpick.js}"></script>
    <script th:src="@{/modules/jquery/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/modules/highcharts/highcharts.js}"></script>
    <script th:src="@{/modules/highcharts/highcharts-more.js}"></script>
    <script th:src="@{/modules/highcharts/exporting.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>