<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <div class="anonymous" id="admin">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                        <div class="header-log">
                            <div><a href="index.html">Вихід</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-administrator">
                        <a href="#admin"><div class="item-menu item-bg">Замовлення</div></a>
                        <a href="#workers-list"><div class="item-menu">Працівники</div></a>
                        <a href="#reservation-administrator"><div class="item-menu">Резервація</div></a>
                        <a href="#menu-administrator"><div class="item-menu">Меню</div></a>
                        <a href="#statistics"><div class="item-menu">Статистика</div></a>
                    </nav>
                    <h1 class="header-page">Замовлення</h1>
                    <div class="main-content-menu-dishes">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/admin.js"></script>
</body>
</html>