<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>

    <link rel="stylesheet" href="error.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="bg-error-page">
            <div class="center-error">
                <h1 id="h1"></h1>
                <section id="err-container" class="error-container">
                    <span id="sp1"></span>
                    <span id="sp2"><span id="inner-span-2" class="screen-reader-text"></span></span>
                    <span id="sp3"><span id="inner-span-3" class="screen-reader-text"></span></span>
                </section>
                <p id="main-text" class="zoom-area"><b><a id="on-main-page" href="#" class="more-link"><br>на головну</a></b></p>
            </div>
        </div>
    </div>

    <script src="error.js"></script>
</body>
</html>