<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Desire Services</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
    <div class="anonymous" id="main">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img th:src="@{/img/logo.png}" alt="logo"></div>
                        <div class="header-log">
                            <div><a th:href="@{/#}" class="log-in-and-open-from">Вхід</a></div>
                            <div><a th:href="@{/#}" class="sign-up-and-open-form">Зареєструватися</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-anonymous">
                        <a th:href="@{/#main}"><div class="item-menu item-bg">Головна</div></a>
                        <a th:href="@{/#reservation}"><div class="item-menu">Резервація</div></a>
                        <a th:href="@{/#menu-dishes}"><div class="item-menu">Меню</div></a>
                        <a th:href="@{/#contacts}"><div class="item-menu">Контакти</div></a>
                    </nav>
                    <div class="main-content">
                        <div class="container">
                            <ul id="slides">
                                <li class="slide showing"></li>
                                <li class="slide"></li>
                                <li class="slide"></li>
                            </ul>
                            <div class="buttons">
                                <button class="controls" id="previous">&lt;</button>
                                <button class="controls no" id="pause">&#10074;&#10074;</button>
                                <button class="controls" id="next">&gt;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="reservation">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img th:src="@{/img/logo.png}" alt="logo"></div>
                        <div class="header-log">
                            <div><a th:href="@{/#}" class="log-in-and-open-from">Вхід</a></div>
                            <div><a th:href="@{/#}" class="sign-up-and-open-form">Зареєструватися</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-anonymous">
                        <a th:href="@{/#main}"><div class="item-menu item-bg">Головна</div></a>
                        <a th:href="@{/#reservation}"><div class="item-menu">Резервація</div></a>
                        <a th:href="@{/#menu-dishes}"><div class="item-menu">Меню</div></a>
                        <a th:href="@{/#contacts}"><div class="item-menu">Контакти</div></a>
                    </nav>
                    <h1 class="header-page">Резервація столика</h1>
                    <p>Дата та час: <input type="datetime-local" id="client-date-time" class="form-control form-control-sm length-datetime-local" value="Date-Time"/></p>
                    <div class="main-content-reservation">
                        <div id="parent"></div>
                    </div>
                    <form class="grid-for-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="anonymous" id="contacts">
        <div class="center">
            <div class="grid-all">
                <header class="header-for-all">
                    <div class="grid-header">
                        <div><img th:src="@{/img/logo.png}" alt="logo"></div>
                        <div class="header-log">
                            <div><a th:href="@{/#}" class="log-in-and-open-from">Вхід</a></div>
                            <div><a th:href="@{/#}" class="sign-up-and-open-form">Зареєструватися</a></div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <nav class="navigation-anonymous">
                        <a th:href="@{/#main}"><div class="item-menu item-bg">Головна</div></a>
                        <a th:href="@{#reservation}"><div class="item-menu">Резервація</div></a>
                        <a th:href="@{/#menu-dishes}"><div class="item-menu">Меню</div></a>
                        <a th:href="@{#contacts}"><div class="item-menu">Контакти</div></a>
                    </nav>
                    <h1 class="header-page">Контакти</h1>
                    <div class="grid-for-contacts">
                        <div class="map-contacts">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.107894739545!2d24.023774715228424!3d49.84043017939581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add71fa3375b5%3A0x2fa49ad92392ea10!2z0L_RgNC-0ZfQt9C0INCa0YDQuNCy0LAg0JvQuNC_0LAsIDcsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1suk!2sua!4v1540892069132" class="frame-class" allowfullscreen></iframe>
                        </div>
                        <div class="grid-text-contacts">
                            <div class="text-contacts"><img th:src="@{/img/mail.png}" alt="mail" class="contacts-ing"></div>
                            <p>innerdesires.@gmail.com</p>
                            <div class="text-contacts"><img th:src="@{/img/phone.png}" alt="phone" class="contacts-ing"></div>
                            <p>0932020193</p>
                            <div class="text-contacts"><img th:src="@{img/lacation.png}" alt="location" class="contacts-ing"></div>
                            <p>вул.Крива Липа 7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/app.js}"></script>
</body>
</html>