/*styles for all layers*/
*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(150, 99, 68);
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.anonymous{
    max-width: 1600px;
    margin: 0 auto;
}

.center{
    padding: 30px;
}

.grid-all{
    display: grid;
    grid-row-gap: 30px;
}

/*styles for all headers*/
.header-for-all{
    background: url("../img/table.jpg") center center no-repeat;
    height: 396px;
}

.grid-header{
    display: grid;
    grid-template-columns: 1fr 200px;
    padding: 20px;
}

.header-log{
    display: grid;
    grid-template-columns: 60px 1fr;
    text-align: center;
    grid-template-rows: 20px;
}

/*styles for all content*/
.content{
    display: grid;
    background: rgb(210, 180, 142);
    padding: 20px;
    justify-items: center;
    grid-row-gap: 40px;
}

/*menu for users*/
.navigation-anonymous{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    width: 850px;
    grid-column-gap: 40px;
}

.item-menu{
    padding: 15px;
    background: linear-gradient(to bottom, #9c6044, #efb69c);
    border-radius: 10px;
    border: 0.5px solid black;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.5);
}

.item-bg{
    background: rgb(236, 231, 176);
}

/*main*/
.main-content{
    background: url(../img/plate.png) 100% 100% no-repeat;
    background-size: cover;
    width: 895px;
    height: 692px;
    display: grid;
    align-content: center;
}

/*slides in main*/
#slides{
    position: relative;
    height: 450px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    background-size: cover;
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}

.controls{
    display: none;
}

.slide:nth-of-type(1), .slide:nth-of-type(2), .slide:nth-of-type(3){
    border-radius: 50%;
    width: 450px;
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
}

.slide:nth-of-type(1){
    background: url('../img/restr_1.jpg') no-repeat;
}

.slide:nth-of-type(2){
    background: url('../img/restr_2.jpg') no-repeat;
}

.slide:nth-of-type(3){
    background: url('../img/restr_3.jpg') no-repeat;
}

.controls{
    background: #333;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 70px;
}

.controls:hover,
.controls:focus{
    background: #eee;
    color: #333;
    border: 2px solid black;
}

.container{
    position: relative;
}

.buttons{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 220px;
}

.no {
    opacity: 0;
}

/*log-in form and sign up*/
.block-form{
    display: none;
    width:100%;
    height: 100%;
    position: fixed;
    z-index:3;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    margin: 0;
}

.form-log-in{
    position: fixed;
    background: white;
    display:grid;
    grid-template-columns: 120px 1fr;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    grid-row-gap: 30px;
    border-radius: 20px;
}

.header-for-login{
    text-align: center;
    grid-column: 1/span 2;
}

.close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.style-form, .submit-form{
    padding: 10px;
}

.style-form:nth-child(odd){
    border-radius: 10px;
    border: 1px solid #268BD2;
}

.submit-form{
    grid-column: 1/span 2;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #268BD2;
    background: #268BD2;
}

/*contacts*/
.grid-for-contacts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contacts-ing{
    width: 60px;
}

.grid-text-contacts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.frame-class{
    width: 500px;
    height: 350px;
    border: 3px solid rgb(210, 180, 142);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.text-contacts{
    text-align: right;
    padding-right: 60px;
}

/*menu-dishes*/
.main-content-menu-dishes{
    background: url(../img/book.png) 100% 100% no-repeat;
    background-size: cover;
    width: 1120px;
    height: 656px;
    align-content: center;
}

/*style administrator*/
.navigation-administrator, .navigation-staff{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    width: 850px;
    grid-column-gap: 40px;
}

/*img add and delete*/
.add-img, .delete-img, .add-img-admin, .img-title-dish, .img-edit{
    width: 30px;
}

.btn-add, .delete-btn, .btn-add-new, .add-btn-admin, .delete-btn-menu, .btn-title-dish, .btn-edit{
    background: none;
    border: none;
}

.btn-reload {
    width: 20px;
    height: 50px;
}

/*header for admin all pages*/
.header-page{
    text-align: center;
}

/*workers list*/
.grid-add-center{
    display: grid;
    justify-items: center;
}

.grid-add-new-workers{
    display: grid;
    grid-template-columns: 300px 200px 40px;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
}

.grid-add-new-workers input, .add-new-workers-number input{
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.list-of-workers{
    grid-column: 1/span 2;
    display: grid;
    grid-row-gap: 20px;
    margin-bottom: 20px;
}

.main-content-workers-list{
    display: grid;
    width: 1000px;
}

.navigation-workers-list{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    text-align: center;
}

.navigation-workers-list a > div{
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

.common-div{
    display: grid;
    grid-template-columns: 300px 200px 40px;
    grid-column-gap: 60px;
}

.delete-btn{
    grid-column: 3;
    background: url('../img/delete.png') center center no-repeat;
    background-size: 30px;
}

/*workers schedule*/
.schedule-message{
    text-align: center;
    color: rgb(255, 17, 0);

}

.bg-for-nav{
    background: rgb(150, 99, 68);
}

.header-workers{
    margin: 20px;
    background: rgb(202, 165, 112);
    border: 0.5px solid black;
    border-radius: 5px;
}

.bg-for-content{
    background: rgb(150, 99, 68);
    height: 600px;
}

.grid-header-schedule{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.header-page-schedule{
    text-align: right;
}

/*date*/
.ui-datepicker-calendar tr:hover {
    background-color: rgb(202, 165, 112);
}

.ui-datepicker {
    width: 18em;
}

.card{
    margin: 10px;
}

.form-control {
    background: rgb(150, 99, 68);
    color: rgb(236, 231, 176);
    border: 1px solid #bbbbbb;
    cursor: pointer;
    padding: 2px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset;
    width: 145px;
    height: 20px;
    margin-top: 5px;
}

.form-control::placeholder {
    color: rgb(236, 231, 176);
    text-align: center;
}

.length-datetime-local {
    width: 175px;
}

.text-workers, .select-workers{
    padding: 10px;
    background: rgb(202, 165, 112);
    border-radius: 5px;
    border: 0.5px solid black;
    text-align: center;
}

.text-workers{
    height: 20px;
}

.delete-btn-schedule, .btn-add-new{
    height: 42px;
    padding: 5px;
}

.delete-btn-schedule {
    background: url('../img/delete.png') center center no-repeat rgb(202, 165, 112);
    background-size: 30px;
}

.add-new{
    width: 32px;
}

.delete-img-schedule{
    width: 26px;
}

.check-img{
    width: 27px;
}

.grid-for-schedule{
    display: grid;
    grid-template-columns: 1fr 400px repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 20px 20px 20px;
}

.bg-option{
    background: rgb(236, 231, 176);
}

/*reservation*/
.main-content-reservation{
    width: 800px;
    height: 742px;
    align-content: center;
    position: relative;
}

.lock-img{
    background: url("../img/lock.png") center center no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    border: none;
}

#object0{
    background: url("../img/sprite0.png");
    background-size: 440px 173px;
    width: 440px;
    height: 173px;
}

#object1{
    background: url("../img/sprite1.png");
    background-size: 178px 61px;
    width: 178px;
    height: 61px;
}

#object2{
    background: url("../img/sprite2.png");
    background-size: 157px 161px;
    width: 157px;
    height: 161px;
}

#object3{
    background: url("../img/sprite3.png");
    background-size: 162px 148px;
    width: 162px;
    height: 148px;
}

#object4{
    background: url("../img/sprite4.png");
    background-size: 253px 165px;
    width: 253px;
    height: 165px;
}

#object5{
    background: url("../img/sprite5.png");
    background-size: 195px 166px;
    width: 195px;
    height: 166px;
}

#object6{
    background: url("../img/sprite6.png");
    background-size: 135px 100px;
    width: 135px;
    height: 100px;
}

#object7{
    background: url("../img/sprite7.png");
    background-size: 92px 139px;
    width: 92px;
    height: 139px;
}

#object8{
    background: url("../img/sprite8.png");
    background-size: 129px 156px;
    width: 129px;
    height: 156px;
}

#object9{
    background: url("../img/sprite9.png");
    background-size: 159px 100px;
    width: 159px;
    height: 100px;
}

#object10{
    background: url("../img/sprite7.png");
    background-size: 92px 139px;
    width: 92px;
    height: 139px;
}

#object11{
    background: url("../img/sprite8.png");
    background-size: 129px 156px;
    width: 129px;
    height: 156px;
}

#object12{
    background: url("../img/sprite8.png");
    background-size: 129px 156px;
    width: 129px;
    height: 156px;
}

#object13{
    background: url("../img/sprite9.png");
    background-size: 159px 100px;
    width: 159px;
    height: 100px;
}

#object14{
    background: url("../img/sprite9.png");
    background-size: 159px 100px;
    width: 159px;
    height: 100px;
}

#parent{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 783px;
    height: 742px;
    background: url(../img/bg-sprite.png) center center no-repeat;
    background-size: cover;
}

.div-sprite{
    display: grid;
    justify-items: center;
    align-items: center;
}

.lock-img, .img-sprite{
    grid-column: 1;
    grid-row: 1;
}

#object0, #object1, #object2, #object3, #object4,
#object5, #object6, #object7, #object8, #object9,
#object10, #object11, #object12, #object13, #object14{
    position: absolute;
}

.grid-for-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

.drag-and-drop, .none-drag-and-drop, .user-reserve-table {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 0.5px solid black;
    background: linear-gradient(to bottom, #9c6044, #efb69c);
}

/*order*/
.style-triangle-left, .style-triangle-right{
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    background: none;
}

.style-triangle-left{
    border-right: 30px solid #ae8c64;
    border-left-width: 0;
}

.style-triangle-right{
    border-left: 30px solid #ae8c64;
    border-right-width: 0;
}

.grid-for-order{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 90px;
    height: 500px;
    grid-column-gap: 130px;
}

.btn-order{
    display: grid;
    align-items: center;
}

.order-admin-odd{
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-column-gap: 20px;
}
.order-admin-even{
    display: grid;
    grid-template-columns: 1fr 10%;
    grid-column-gap: 20px;
}

.grid-order-text-header {
    display: grid;
    height: 20px;
    grid-row-gap: 20px;
}

.grid-order-text{
    display: grid;
    grid-template-rows: 480px 20px;
}

.grid-sum{
    display: grid;
    grid-template-columns: 15% 40% 33%;
    grid-column-gap: 20px;
    height: 25px;
    align-items: center
}

.btn-end-page{
    background: #ae8c64;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

/*menu with dishes*/
.dish-consist, .input-title{
    resize: none;
    border: 2px inset #EEEEEE;
    border-radius: 5px;
    padding: 5px;
}

.menu-center-odd{
    padding: 40px 40px 40px 100px;
}

.menu-center-even{
    padding: 40px 55px 40px 50px;
}

.grid-menu-administrator{
    display: grid;
    grid-template-columns: 90px 145px 55px 55px 45px;
    grid-column-gap: 5px;
}

.grid-all-content-administrator{
    display: grid;
    grid-template-columns: 560px 643px;
    height: 100%;
    font-size: 12px;
}

.common-div-edit{
    grid-column: 1/ span 3;
    display: grid;
    grid-template-columns: 350px 1fr;
    text-align: center;
}

.btn-edit{
    width: 40px;
}

.menu-header-administrator{
    text-align: center;
}

.menu-header-administrator-odd, .menu-header-administrator-even{
    padding-bottom: 30px;
}
.menu-header-administrator-odd, .menu-header-administrator-form, .menu-header-administrator-even{
    display: grid;
    font-size: 25px;
}

.style-form-odd{
    grid-template-columns: 20% 50% 20%;
}

.style-form-even{
    grid-template-columns: 15% 39% 20%;
}

.grid-menu-and-dishes-odd{
    display: grid;
    grid-template-columns: 1fr;
}

.grid-menu-and-dishes-even{
    display: grid;
    grid-template-columns: 1fr 90px;
}

.grid-for-item-menu{
    display: grid;
    grid-row-gap: 10px;
}

.item-menu-for-administrator{
    font-size: 11px;
    padding: 2px;
    border-radius: 5px;
}

.navigation-administrator-menu{
    display: grid;
    width: 100%;
    height: 100%;
    grid-row-gap: 15px;
}

.item-nav-admin-even, .item-margin{
    padding: 5px;
    border: 0.5px solid black;
    border-radius: 0 5px 5px 0;
}

.item-nav-admin-even{
    background: rgb(202, 165, 112);
}

.item-margin{
    margin-left: 0;
}

.delete-img-menu{
    width: 20px;
}

.main-content-statistics{
    width: 80%;
}

.add-btn-admin{
    background: url("../img/add.png") center center no-repeat;
    background-size: 30px;
}

.btn-edit{
    background: url("../img/edit.png") center center no-repeat;
    background-size: 30px;
}

/*statistics*/
#plain, #inverted, #polar{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 0.5px solid black;
    background: linear-gradient(to bottom, #9c6044, #efb69c);
}
